.container .titulo{
    text-align: center;
    /* background-color: cadetblue; */
    padding: 20px 0;
    border-bottom: 1px solid #000;
}        
.container .modulo{
    /* background-color: rgb(181, 118, 118);         */
    padding: 20px;   
    height: 500px;
    border-right: 1px solid #000;
}
.container .modulo a{
    text-decoration: none;
    color: black;           
    display: flex;           
    padding: 5px; 
}
.container .modulo a:hover{
    background-color: rgba(66, 130, 141, 0.596);
    cursor: pointer;
}
.container .modulo a:active{
    background-color: rgba(66, 130, 141, 0.596);    
}
.container .contenido .m_registro, ._listado{
    display: none;
}
.logo{
    width: 10%;        
}
.logo img{
    width: 10%;
    margin-top: 15px;
}